body{
    background-image: radial-gradient(circle, #ffffff, #e2e3e8, #c4c8d1, #a4aebb, #8496a4);
    font-family: 'Reddit Mono';
}
.todo-app{
    width: 380px;
    margin: 60px auto 20px;
    border-radius: 5px;
    padding: 7px;
    border: 2px solid black;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

h1{
    font-size: 25px;
}
.heading{
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: yellowgreen;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 100px;
}
.heading img{
    width: 45x;
    height: 40px;
}

h1{
    font-family: 'Dancing Script';
    
}
.input-box{
    display: flex;
    justify-content: space-between;
    background-color: rgb(222, 228, 233);
    margin: 0 auto;
    border-radius: 10px;
    width: 320px;
    height: 35px;
    align-items: center;
}
.input-box input{
    flex: 1;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 5px; 
    background: transparent;
    padding-left: 10px;
}

.input-box button{
    width: 60px;
    background-color: rgb(23, 110, 193);
    border-radius: 7px;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    color: azure;
    transition: all ease-in 0.1s;
    user-select: none;
}
.input-box button:hover{
    background-color: gray;
    color: white;
}
.tasks{
    font-family: 'Reddit Mono';
}

.todos {
    list-style: none;
    padding-left: 20px;
    display: inline-block;
    width: 325px;
    font-size: 1rem;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    
}
.unchecked{
    width: 16px;
    height: 15px;
    margin-right: 10px;
    padding: 2px 10px;
}

.delete{
    width: 19px;
    height: 18px;
    margin-right: 12px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
    transition: background-color ease-in-out 0.2s;
}
.delete:hover{
    background-color: crimson;
}
li span, .unchecked{
    cursor: pointer;
}
.task-complete{
    text-decoration: line-through;
}

li p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li span{
    flex:1;
    display: inline-block;
}

li .checked{
    cursor: pointer;
}

@media screen and (max-width: 467px) {
    .todo-app {
      width:320px;
    }
    .input-box{
        width: 260px;
    }

.todos{
    width: 262px;
    font-size: 0.8rem;
}
}